.coverimage {
	widows: 100px;
	height: 100px;
	margin: 20px;
	display: inline-block;
}


div {
	display: block;
}

input {
	background-color: #efefef;
	margin: 10px;
}

select {
	margin: 10px;
	background-color: #EFEFEF;
}