

    <div class="breadcrumb-nav">
      
          <ul ng-if="classA >=0 ||  classB >= 0" >
              <li ng-repeat="route in routes track by $index" ng-click="filter_breadcrumb(route.index[0],route.index[1],$index)">
                <span ng-if="$index > 0 && route.name.length > 0">></span>
                <a>{{route.name}}</a>
              </li>
          </ul>    


    </div>

      <ul class="products-list">

        <li class="product-item" ng-repeat="item in items track by $index" >
          <a href="#/detail/{{item.id}}">

            <div class="product-thumb" style="background-image:url({{item.images[0]}}) ;background-position: 50% 50%;background-size:cover;"></div>
            <div class="product-item-info">
              <p class="item-title">{{item.title}}</p>
              <p class="item-detail">分类：UI设计, PSD资源,  电商资</p>
              <p class="item-price">￥{{item.price}}</p>
            </div>

          </a>  
        </li>
      </ul>


