    <div class="detail-header">
      <div class="breadcrumb-nav">
        <ul ng-if="classA >=0 ||  classB >= 0" >
              <li ng-repeat="route in routes track by $index" ng-click="filter_breadcrumb(route.index[0],route.index[1],$index)">
                <span ng-if="$index > 0 && route.name.length > 0">></span>
                <a>{{route.name}}</a>
              </li>
          </ul>
      </div>
      <p class="product-title">{{currentItem.title}}</p>
      <p class="product-subtitle">{{currentItem.subtitle}}</p>
      <p class="product-description">{{currentItem.description}}</p>

      <button class="primary-btn price-btn"></button>
    </div>

    <div class="preview-gallery">
      <h3></h3>
      <ul>
        <li ng-repeat="image in currentItem.images"><img alt="" style="background-image:url({{image}}) ;background-position: 50% 50%;background-size:cover;"/></li>
      </ul>
    </div>  