
<div class="main-header">
  <div class="container">
    <div class="intro">
      <h1>最新的设计开发资源</h1>
      <h4>UI设计，原型设计，图标设计，外包，毕设</h4>
    </div>
    <button class="primary-btn customize-btn">个性化定制</button>
  </div>
</div>
  
<div class="container">  
  <ul class="landing-page-category">
    <li ng-click="rank_filter('score',0)" ng-class="{'selected': filterIndex == 0}">精品推荐</li>
    <li ng-click="rank_filter('buycount',1)" ng-class="{'selected': filterIndex == 1}">销量最多</li>
    <li ng-click="rank_filter('createAt',2)" ng-class="{'selected': filterIndex == 2}">最新上传</li>
  </ul>
  <div class="gallery">
    <ul class="products-list">
      <li class="product-item" ng-repeat="item in items track by $index" ng-click="show_detail(item)">
        <div class="product-thumb" style="background-image:url({{item.images[0]}}) ;background-position: 50% 50%;background-size:cover;"></div>
        <div class="product-item-info">
          <p class="item-title">{{item.title}}</p>
          <p class="item-detail">分类：UI设计, PSD资源,  电商资</p>
          <p class="item-price">￥{{item.price}}</p>
        </div>
      </li>
    </ul>
  </div> <!-- gallery ends -->
</div>  <!-- container ends -->

<div id="footer">
  <div class="wechat-info">
    <img class="qrcode" src="" alt="">
    <p>关注我们的公众号可以获得免费产品下载</p>
    <p>公众号：riverCross</p>
  </div>
</div>



