* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
}

body {
  
  
  @include text(1em,1.5, $color: $light-grey);
  margin: 0;
  font-family: $stack-helvetica;
  background-color: $mid-grey;
  

}

h1 {  

  @include text(2rem,1.2,normal);
  
}

h2 {

  @include text(1.5rem,1.1,normal);
  
}

h3 {

  @include text(1.1rem,1.1,normal);
  
}

p{
  margin:0;
  padding:0;
}

img {
  max-width: 100%;
}

ul,
ol {
  margin:0;
  padding:0;
  list-style:none;

}


a {
  background-color: transparent; 
  -webkit-text-decoration-skip: objects; 
  text-decoration: none;
  cursor:pointer;

  &:link,&:visited{
    color:$light-grey;
  }

  &:hover{
    outline-width: 0;
    color:$white;
  }

}










