//=====================================================
// Cards
//=====================================================

.cards{
    margin:0 -20px;
    font-size:13px;
    overflow: hidden;
    margin-top: 30px;
}

.card{
    margin:0 20px 40px;
    display:inline-block;
}

.card-thumb{
    width:300px;
    height:225px;
    border-radius:5px;
    
}

.card-info {
    position: relative;
    padding: 10px 0 0 0;
}

.card-title {
    float: left;
    display: block;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 27px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-price {
    position: relative;
    top: 0;
    right: 0;
    float: right;
    padding: 6px 0;
    width: 48px;
    color: #2F8BE6;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    background: #2A2A2A;
    border-radius: 4px;
}

.card-tag {
    clear: both;
    padding: 5px 0 0 0;
    font-size: 12px;
    line-height: 20px;
    color: #949494;
}