//=====================================================
// Navigation
//=====================================================

#top-nav {

    height:60px;
    width:calc(100vw - 230px);
    position:fixed;
    top:0;
    left:230px;
    z-index:100;
    color:#C6C6C6;
    line-height:60px;

}

#top-nav ul li{

     float:right;
     margin-right:50px;
}